@import "common.css";

h1{
    margin-top: 9rem;
}
  
h1 span {
color: var(--green-color);
}

h2 {
margin-top: 8rem;
}

h1, h2 {
font-size: 4rem;
}

main p {
font-size: 1.6rem;
line-height: 1.5;
margin-bottom: 3rem;
margin-top: 1rem;
}

h1, h2, main p {
text-align: center;
padding: 0 2rem;
}
  

.main-video-link{
    display: block;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.main-video-link:hover {
    box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}



.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2rem);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.close {
    position: absolute;
    top: 2rem;
    right: 5rem;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.modal-content iframe {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    width: 1120px;
    height: 630px;
}

.btn-download-container {
    text-align: center;
    margin: 3rem 0 8rem 0;
}

.btn-download{
    display: inline-block;
    background-color: var(--green-color);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
}

.btn-download:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    .modal-content iframe {
        width: 840px;
        height: 472px;
    }
}

@media screen and (max-width: 900px) {
    .modal-content iframe {
        width: 560px;
        height: 315px;
    }

}
@media screen and (max-width: 600px) {
    h1, h2{
        font-size: 2.5rem;
    }
    main p {
        font-size: 1rem;
    }

    .btn-download{
        padding: 1rem 2rem;
        font-size: 1.1rem;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
        margin: 0 auto;
    }
    
}